# Docker Compose Environment Variables
# Copy to .env and fill in your values
# DO NOT COMMIT THIS FILE

# Backend
DATABASE_URL=postgresql://postgres.bvojmrveoppjoyucdfpd:baqty6-byzGef-dysmis@aws-1-us-east-1.pooler.supabase.com:6543/postgres?schema=public
PORT=3001

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api